@page
@model AdwantageOfCdn.Pages.ShowPhotosModel
@{
    ViewData["Title"] = "ShowPhotos";
}

<h2>ShowPhotos</h2>
<img src="~/images/test.jpg" width="500" height="200" />
<div>

    <img src="https://cdnadwantage.azureedge.net/images/test.jpg" width="500" height="200" />
</div>
